@import "tailwindcss";


@font-face {
  font-family: "AmstelvarAlpha";
  src: url("./fonts/Amstelvar-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-amstel: "AmstelvarAlpha", serif;
  --font-castoro: "Castoro Titling", serif;
}
